altair==4.2.2
attrs==23.1.0
beautifulsoup4==4.10.0
bs4==0.0.1
click==8.0.0
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
docx2txt==0.8
entrypoints==0.4
fiona==1.8.20
Flask==2.1.1
fsspec==2022.1.1
geopandas==0.10.2
jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
matplotlib==3.4.3
numpy==1.25.2
pandas==2.1.0
py==1.10.0
pyproj==3.2.0
pytest==6.2.3
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==22.3.0
requests==2.26.0
scipy==1.7.3
Shapely==1.8.3
six==1.16.0
skills-keywords==1.0.0
streamlit==1.2.0
toolz==0.12.0
tzdata==2023.3
